sh/.idea
sh/test_start_script.sh
.idea/
project/notebooks/.ipynb_checkpoints
project/.bash_history
notebooks/.ipynb_checkpoints/
notebooks/*_answers.ipynb
notebooks/variables/.ipynb_checkpoints/
notebooks/examples
bin/
lib/
pyvenv.cfg
lib64
etc/
share/
.DS_Store
accessories/freeglut32.vc14.dll
accessories/freeglut64.vc14.dll
accessories/QuartzMS.TTF
scripts/matrixRandom.py
simpylc/install_requirements.sh
simpylc/simpylc_howto.pdf
simpylc/test_simpylc.sh
simpylc/conda/Miniconda3-latest-MacOSX-arm64.sh
simpylc/conda/Miniconda3-latest-MacOSX-x86_64.sh
simpylc/conda/Miniconda3-latest-Windows-x86_64.exe
simpylc/pip/requirements.txt
simpylc/simulations/arduino_led_timer/led_timer.py
simpylc/simulations/arduino_led_timer/native.cpp
simpylc/simulations/arduino_led_timer/timing.py
simpylc/simulations/arduino_led_timer/world.py
simpylc/simulations/arduino_led_timer/__pycache__/led_timer.cpython-310.pyc
simpylc/simulations/arduino_led_timer/__pycache__/timing.cpython-310.pyc
simpylc/simulations/arduino_led_timer/__pycache__/world.cpython-310.pyc
simpylc/simulations/arduino_traffic_lights/native.cpp
simpylc/simulations/arduino_traffic_lights/timing.py
simpylc/simulations/arduino_traffic_lights/traffic_lights.py
simpylc/simulations/arduino_traffic_lights/visualisation.py
simpylc/simulations/arduino_traffic_lights/world.py
simpylc/simulations/arduino_traffic_lights/__pycache__/timing.cpython-310.pyc
simpylc/simulations/arduino_traffic_lights/__pycache__/traffic_lights.cpython-310.pyc
simpylc/simulations/arduino_traffic_lights/__pycache__/visualisation.cpython-310.pyc
simpylc/simulations/arduino_traffic_lights/__pycache__/world.cpython-310.pyc
simpylc/simulations/blinking_light/blinking_light.py
simpylc/simulations/blinking_light/timing.py
simpylc/simulations/blinking_light/world.py
simpylc/simulations/blinking_light/__pycache__/blinking_light.cpython-310.pyc
simpylc/simulations/blinking_light/__pycache__/timing.cpython-310.pyc
simpylc/simulations/blinking_light/__pycache__/world.cpython-310.pyc
simpylc/simulations/boat/control_server.py
simpylc/simulations/boat/notes.txt
simpylc/simulations/boat/socket_wrapper.py
simpylc/simulations/boat/vessel.py
simpylc/simulations/boat/visualisation.py
simpylc/simulations/boat/world.py
simpylc/simulations/boat/__pycache__/control_server.cpython-310.pyc
simpylc/simulations/boat/__pycache__/socket_wrapper.cpython-310.pyc
simpylc/simulations/boat/__pycache__/vessel.cpython-310.pyc
simpylc/simulations/boat/__pycache__/visualisation.cpython-310.pyc
simpylc/simulations/boat/__pycache__/world.cpython-310.pyc
simpylc/simulations/boat/control_client/almanac.py
simpylc/simulations/boat/control_client/captain.py
simpylc/simulations/boat/control_client/constants.py
simpylc/simulations/boat/control_client/crew.py
simpylc/simulations/boat/control_client/deckhand_twin.py
simpylc/simulations/boat/control_client/deckhand.py
simpylc/simulations/boat/control_client/helmsman.py
simpylc/simulations/boat/control_client/kml_to_waypoints.py
simpylc/simulations/boat/control_client/kralingse_plas.jpg
simpylc/simulations/boat/control_client/__pycache__/almanac.cpython-310.pyc
simpylc/simulations/boat/control_client/__pycache__/captain.cpython-310.pyc
simpylc/simulations/boat/control_client/__pycache__/constants.cpython-310.pyc
simpylc/simulations/boat/control_client/__pycache__/crew.cpython-310.pyc
simpylc/simulations/boat/control_client/__pycache__/deckhand_twin.cpython-310.pyc
simpylc/simulations/boat/control_client/__pycache__/helmsman.cpython-310.pyc
simpylc/simulations/boat/control_client/__pycache__/kml_to_waypoints.cpython-310.pyc
simpylc/simulations/car/control_server.py
simpylc/simulations/car/dimensions.py
simpylc/simulations/car/lidar.track
simpylc/simulations/car/physics.py
simpylc/simulations/car/socket_wrapper.py
simpylc/simulations/car/sonar.track
simpylc/simulations/car/visualisation.py
simpylc/simulations/car/world.py
simpylc/simulations/car/__pycache__/control_server.cpython-310.pyc
simpylc/simulations/car/__pycache__/dimensions.cpython-310.pyc
simpylc/simulations/car/__pycache__/physics.cpython-310.pyc
simpylc/simulations/car/__pycache__/socket_wrapper.cpython-310.pyc
simpylc/simulations/car/__pycache__/visualisation.cpython-310.pyc
simpylc/simulations/car/__pycache__/world.cpython-310.pyc
simpylc/simulations/car/control_client/hardcoded_client.py
simpylc/simulations/car/control_client/parameters.py
simpylc/simulations/car/control_client/__pycache__/hardcoded_client.cpython-310.pyc
simpylc/simulations/car/control_client/__pycache__/parameters.cpython-310.pyc
simpylc/simulations/one_armed_robot/control.py
simpylc/simulations/one_armed_robot/robot_plan.jpg
simpylc/simulations/one_armed_robot/robot.py
simpylc/simulations/one_armed_robot/timing.py
simpylc/simulations/one_armed_robot/visualisation.py
simpylc/simulations/one_armed_robot/world.py
simpylc/simulations/one_armed_robot/__pycache__/control.cpython-310.pyc
simpylc/simulations/one_armed_robot/__pycache__/robot.cpython-310.pyc
simpylc/simulations/one_armed_robot/__pycache__/timing.cpython-310.pyc
simpylc/simulations/one_armed_robot/__pycache__/visualisation.cpython-310.pyc
simpylc/simulations/one_armed_robot/__pycache__/world.cpython-310.pyc
simpylc/simulations/pid_controller/native.cpp
simpylc/simulations/pid_controller/pid_controller.py
simpylc/simulations/pid_controller/timing.py
simpylc/simulations/pid_controller/world.py
simpylc/simulations/pid_controller/__pycache__/pid_controller.cpython-310.pyc
simpylc/simulations/pid_controller/__pycache__/timing.cpython-310.pyc
simpylc/simulations/pid_controller/__pycache__/world.cpython-310.pyc
simpylc/simulations/rocket/common.py
simpylc/simulations/rocket/control.py
simpylc/simulations/rocket/rocket.py
simpylc/simulations/rocket/thruster_rotation.jpg
simpylc/simulations/rocket/timing.py
simpylc/simulations/rocket/transforms.py
simpylc/simulations/rocket/visualisation.py
simpylc/simulations/rocket/world.py
simpylc/simulations/rocket/__pycache__/common.cpython-310.pyc
simpylc/simulations/rocket/__pycache__/control.cpython-310.pyc
simpylc/simulations/rocket/__pycache__/rocket.cpython-310.pyc
simpylc/simulations/rocket/__pycache__/timing.cpython-310.pyc
simpylc/simulations/rocket/__pycache__/transforms.cpython-310.pyc
simpylc/simulations/rocket/__pycache__/visualisation.cpython-310.pyc
simpylc/simulations/rocket/__pycache__/world.cpython-310.pyc
simpylc/simulations/train/control.py
simpylc/simulations/train/physics.py
simpylc/simulations/train/timing.py
simpylc/simulations/train/world.py
simpylc/simulations/train/__pycache__/control.cpython-310.pyc
simpylc/simulations/train/__pycache__/physics.cpython-310.pyc
simpylc/simulations/train/__pycache__/timing.cpython-310.pyc
simpylc/simulations/train/__pycache__/world.cpython-310.pyc
projects/apple_disease_classification/data/Test
projects/apple_disease_classification/data
projects/apple_disease_classification/data/Train/Reject_Apples
projects/